.chooseFile{
    border: 5px dashed rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.selectedAudio::-webkit-media-controls-panel{
    background-color: rgb(211, 211, 211);
    border: none;
}
.selectedAudio{
    border-radius: 0;
    background-color:  rgb(211, 211, 211);
    padding: 20px;
    width: 100% !important;
    display: none;
}
.singleSelectedAudio{
    background-color:  rgb(211, 211, 211);
    border: 1px solid red;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover{
   width: 30px;
   height: ;
}