.chooseFile{
    border: 5px dashed rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 100px;
}
.selectedAudio::-webkit-media-controls-panel{
    background-color: rgb(211, 211, 211);
    border: none;
}
.selectedAudio{
    border-radius: 0;
    background-color:  rgb(211, 211, 211);
    padding: 20px;
    width: 100% !important;
    display: none;
}
.singleSelectedAudio{
    background-color:  rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover{
   width: 40px;
   height: 40px;
}
.containDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containSingle{
    padding: 10px;
}
.name{
    margin-left: 10px;
}
.play{
    width: 30px;
    height:30px;
}
.btnPlay{
    background-color: transparent;
    border: none;
}

.deleteAll{
    border: 1px solid ;
}