.chooseFile{
    border: 5px dashed rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.selectedAudio::-webkit-media-controls-panel{
    background-color: rgb(30, 0, 255);
    border: none;
}
audio::-webkit-media-controls-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 0, 255);
    border: none;
    border-radius: 10px; /* برای تغییر به حالت مستطیلی */
}
