.container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.leftMenue {
  background: linear-gradient(
    135deg,
    #4E71FF 0%,
    #4E71FF 30%,
    #5409DA 65%,
    #5409DA 100%
  );
  width: 20%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.imageProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  justify-content: space-between;
}

.imageProfile img {
  border-radius: 100%;
  width: 90px;
  height: 90px;
}
.playlist {
  font-size: medium;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
}
.rightPage {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 20px 0 0;
  padding-left: 0;
}
.rightPage input {
  width: 97%;
  height: 40px;
  font-size: medium;
}
.currentlyPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7de2d1;
  height: 100px;
  bottom: 0;
  position: fixed;
  width: 80%;
}
.currentlyPlay img {
  width: 100px;
  height: 100px;
}
.containName {
  width: 100%;
  padding: 15px;
}
.musicName {
  font-weight: bold;
}
audio {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

audio::-webkit-media-controls-panel {
  background-color: #7de2d1;
  border: none;
}
.rightPage {
  overflow: scroll;
}
.modalCategory {
  position: fixed;
  background-color: #7de2d1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.modalCategory input {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
}
.modalCategory button {
  background-color: #1dd3b0;
  margin-bottom: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  color: #ffff;
}

.category {
  font-size: medium;
  color: #ffffff;
  margin-left: 5px;
  margin: 5px;
}

.inputSearch {
  margin: 10px;
  border: 2px solid #1dd3b0;
  padding: 5px 10px;
  border-radius: 10px;
}

.create {
  padding: 15px 4px;
  border-radius: 35px;
  background-color: #ffffff;
  border: none;
  color: #5409DA;
  fo
}
h3,
h4 {
  color: white;
}
