.container{
    display: flex;
    flex-direction: row;
}
.leftMenue{
    background-color: aquamarine;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.imageProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imageProfile img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.rightPage{
    width: 100%;
    height: 100vh;
    position: relative;
}
.rightPage input{
    width: 100%;
    height: 40px;
    font-size: medium;
}
.currentlyPlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(137, 127, 209);
    height: 100px;
    bottom: 0;
    position: fixed;
    width: 82%;
}
.currentlyPlay img{
    width: 100px;
    height: 100px;
}
.containName{
    width: 100%;
    padding: 15px;
}
.musicName{
    font-weight: bold;
}
audio{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;

}

audio::-webkit-media-controls-panel{
    background-color: rgb(137, 127, 209);
    border: none;
}
.rightPage{
    overflow: scroll;
}
.modalCategory{
    position: fixed;
    background-color: rgb(137, 127, 209);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

  