.leftMenue{
    background-color: aquamarine;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.imageProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: ;
}
.imageProfile img{
    border-radius: 100%;
}