.container{
    display: flex;
    flex-direction: row;
}
.leftMenue{
    background-color: aquamarine;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imageProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imageProfile img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.rightPage input{
    width: 90%;
}
